@model Maison.Models.Sanpham

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChatLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HuongDan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HuongDan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiSua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiSua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
